.boltz/
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
*.log
.boltz-ui/
.playwright-cli/
output/
workspace/inputs/*
!workspace/inputs/affinity.yaml
!workspace/inputs/NusA_close.yaml
!workspace/inputs/NusA_cyclic.yaml
!workspace/inputs/NusA_open.yaml
workspace/results/
